
  <%- include('../../partials/head'); %>

  <header>
      <%- include('../../partials/nav'); %>
  </header>
    
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-success" role="alert">
            Successfully logged in as <b><%= currentuser %></b>
          </div>
          <p>
            This is a good place for your user homepage, profile, feed, or whatever you want as the main page of your app.
          </p>
        </div>
      </div>
    </div>
  </main>
    
    <%- include('../../partials/footer'); %>
  
    