
  <%- include('../partials/head'); %>

  <header>
    <%- include('../partials/nav'); %>
  </header>
  
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>Error</h1>
          <p>
            <%= error_message %>
          </p>
          <p>
            <a href="">Link</a>
          </p>
        </div>
      </div>
    </div>
  </main>
  
    <%- include('../partials/footer'); %>
  