<%- include('../partials/head'); %>

<header>
    <%- include('../partials/nav'); %>
</header>
  
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello World</h1>
        <p>
          TEST! Welcome to your first social media web app. The signup and login functions are ready to use!
        </p>
        <h2>Login</h2>
          <form action="/auth/login" method="post" autocomplete="on">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Submit"><br>
          </form>
          <br>
          <p>
            Don't have an account? <a href="/auth/register">Sign up here!</a>
          </p>
      </div>
    </div>
  </div>
</main>
  
  <%- include('../partials/footer'); %>