
  <%- include('../partials/head'); %>

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello World</h1>
        <p>
          Welcome to your project.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Et leo duis ut diam. Enim facilisis gravida neque convallis a cras semper auctor. Cras semper auctor
          neque vitae tempus. Morbi tincidunt ornare massa eget egestas purus viverra. Libero enim sed faucibus turpis in eu mi
          bibendum neque. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Mauris in aliquam
          sem fringilla ut morbi. Dictum non consectetur a erat nam at lectus urna duis. Tortor consequat id porta nibh. Integer
          quis auctor elit sed vulputate. Hendrerit dolor magna eget est lorem. Suscipit tellus mauris a diam maecenas sed. Amet
          cursus sit amet dictum sit amet.
        </p>
        <p>
          <a href="">Link</a>
        </p>

      </div>
    </div>
  </div>
</main>

  <%- include('../partials/footer'); %>
